body{
    background-image: url("https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993_960_720.jpg");
    background-size: cover; 
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    height: 100vh;
    overflow: hidden;

}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 21vh;
    
}

p{
    color:white;
    font-size: 25px;
}

h1{
    color: white;
    text-align: center;
    text-shadow:2px 2px #000000;
}

button {
    border-radius: 10px;
    padding:10px;
    width:150px;
    height:50px;
    font-family:'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    font-weight: 700;
    border:none;
    cursor: pointer;
    box-shadow: 0 4px 10px black;
    font-size: 16px;
}

button:hover{
    background:white;
    box-shadow: 0 2px 5px black;
    transition-timing-function:ease;
    transition-delay: 50ms;
}

button:active{
    transform:scale(0.9);
}



i{
    margin: 0px 10px;
    color:white;
    font-size: 50px;
    vertical-align: middle;
}


h3{
    color:rgb(201, 189, 171);
    text-shadow: 0 2px 5px black;
}